body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .my .main-content{
    flex: 1;
    min-height: 100vh;
    padding: 1rem;
    transition: margin-left 0.3s ease;
  }
  .container {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
  }
  h1 {
    text-align: center;
    color: black;
  }
  .form-group {
    margin-bottom: 1rem;
  }
  label {
    display: block;
    text-align: left;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
  input[type="text"],
  input[type="password"],
  input[type="email"] {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #dbdbdb;
    background-color: #f4f4f4;
    color: black;
    border-radius: 4px;
    box-sizing: border-box;
  }
  button {
    background-color: #A81916;
    color: white;
    border: none;
    padding: 0.8rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 1rem;
  }
  button:hover {
    background-color: #ca261a;
  }
  .toggle-form {
    text-align: center;
    margin-top: 1rem;
  }
  .toggle-form a {
    color: black;
    text-decoration: none;
  }
  .error-message {
    color: #f44336;
    margin-top: 1rem;
    text-align: center;
  }
  .success-message {
    color: #4caf50;
    margin-top: 1rem;
    text-align: center;
  }