<!DOCTYPE html>
<html lang="cs">
    <head>
        <meta charset="UTF-8">
        <title>Sensore Data</title>

        <style>
            .chart-container {
                width: 800px;
                margin: 20px auto;
            }
            .controls {
                text-align: center;
                margin: 20px;
            }
            select {
                padding: 5px;
                margin: 0 10px;
            }
            #error-message {
                color: red;
                text-align: center;
                margin: 20px;
            }
        </style>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    </head>
    <body>
        <h1>Sensore Data</h1>
        <canvas id="sensor-data"></canvas>

        <script src="../static/js/script.js"></script>
    </body>
</html>