.export-form {
  display: flex;
  flex-direction: column;
  background-color: var(--surface-color);
  padding: 1rem;
  gap: 1rem;
  max-width: 600px;
  margin: 0 auto;
  border-radius: 8px;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
}

.form-group label {
  color: var(--text-primary);
  font-size: 1rem;
}

.sensor-list {
  display: grid;
  gap: 0.5rem;
  max-height: 200px;
  overflow-y: auto;
  padding: 0.5rem;
  border-radius: 4px;
}

.sensor-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2.5rem;
  user-select: none; /* Zabrání označení textu */
}

.sensor-item input {
  align-items: center;
  display: block;
  width: 10rem;
  margin: 0;
  cursor: pointer;
}

.sensor-item input[type="checkbox"] {
  margin: 0;
  cursor: pointer;
  width: 1.6em;
  height: 1.6em;
}

.sensor-item label {
  margin: 0;
  font-size: 1rem;
  color: #333;
}

.sensor-item input[type="checkbox"]:checked {
  background-color: #007bff;
  /* Modrá barva při zaškrtnutí */
  border-color: #007bff;

}

.sensor-item:hover {
  background-color: var(--background-color);
  color: inherit; /* Zachová původní barvu textu při hover */
}

/* Dark mode styles */
:root.dark-mode .export-form {
  background-color: var(--dark-surface-color);
  color: var(--dark-text-primary);
  border: 1px solid var(--dark-text-secondary);
}

:root.dark-mode .form-group label {
  color: var(--dark-text-primary);
}

:root.dark-mode .sensor-item:hover {
  background-color: var(--dark-background-color-alt);
  color: var(--dark-text-primary); /* Zachová barvu textu v dark mode při hover */
}