.server-error-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--background-color);
}

.server-error-content {
    background-color: var(--surface-color);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 90%;
}

.server-error-content h1 {
    color: var(--text-primary);
    margin-bottom: 1rem;
}

.server-error-content p {
    color: var(--text-primary);
    margin-bottom: 2rem;
}


.dark-mode .server-error-content {
    background-color: var(--dark-surface-color);
}

.dark-mode .server-error-content h1,
.dark-mode .server-error-content p {
    color: var(--dark-text-primary);
}
