
  

  
  .icon {
    margin-right: 1rem;
    size: 150px;
  }
  
  .value {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--text-primary); /* #000000 */
  }
  
  .timestamp {
    font-size: 0.9rem;
    color: #666; /* Slightly lighter than primary text for contrast */
  }